/* Main.css */

.vid-container {
    position: relative;
  }

 
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    z-index: 1; /* Ensure the overlay is above the video */
  }
  
  .vid {
    width: 100%;
  }
  
  .logo-container {
    position: absolute;
    margin-top: -390px;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the logo is above the video */
  }
  
  .logo {
    width: 300px; /* Adjust the size of your logo */
    height: 330px;
  }
  
  .logo-text {
    color: #fff;
    font-size: 15px;
    margin-top: -80px;
    margin-left: -890px;
    text-align: center;
  }
  /* Main.css */

#arrowAnim {
    width: 90vw;
    align-items: center;
    margin-left: 10px;
    padding-left: 100px;
    margin-bottom: 110px;
  }
  
  .arrow {
    width: 50px; /* Adjust the size of the arrow */
    height: 50px; /* Adjust the size of the arrow */
    border: 5px solid; /* Adjust the thickness of the arrow */
    border-color: white transparent transparent white; /* Change the color to white */
    transform: rotate(45deg); /* Rotate the arrow by 45 degrees */
  }
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
  }
  
  .delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    20% {
      opacity: 1;
      transform: translateY(9px);
    }
    80% {
      opacity: 1;
      transform: translateY(-9px);
    }
    100% {
      opacity: 0;
      transform: translateY(-15px);
    }
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    20% {
      opacity: 1;
      transform: translateY(9px);
    }
    80% {
      opacity: 1;
      transform: translateY(-9px);
    }
    100% {
      opacity: 0;
      transform: translateY(-15px);
    }
  }
  
  