body {
  margin: 0;
  background-image: url('https://img.freepik.com/premium-vector/nursing-home-concept-with-elderly-people-walking-outdoors-flat-vector-illustration_1284-75232.jpg?w=1380');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  overflow: hidden; /* Hide the overflow to prevent scrolling */
}

.app {
  overflow: hidden; /* Hide the overflow to prevent scrolling */
}

.app-selector {
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 330px;
  background-color: #45a7e8;
  border: 2px solid black;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add a 3s delay before the transition starts */
}

.app-selector.expanded {
  opacity: 0; /* Fade out */
  transform: translateY(-20px); /* Move slightly upwards */
  transition: opacity 0.5s ease 0.7s, transform 0.5s ease 0.9s; /* Remove the delay for the expanded state */
}

.role-buttons {
  margin-top: 20px;
}

.custom-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  animation: buttonScale 0.3s ease;
}

.custom-button:hover {
  background-color: #27ae60;
}

.custom-button.active {
  background-color: #e74c3c;
}

.role-selector .welcome-message {
  margin-top: 20px;
  font-size: 18px;
}

@keyframes buttonScale {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
